---
import ScheduleCard from "./Card.astro";
import { type ScheduleEntry } from "../lib/WebMaster/schedule";

export interface Props {
	groupedSchedule: Record<string, Array<ScheduleEntry>>;
	dayOrder: Array<string>;
}

const { groupedSchedule, dayOrder }: Props = Astro.props;
---
<div class="schedule-container">
	{
		dayOrder.map(
			(dayName: string) =>
				groupedSchedule[dayName] && (
					<section id={dayName.toLowerCase()} class="day-group">
						<header class="day-header">
							<h3 class="p-name">{dayName}</h3>
						</header>

						{groupedSchedule[dayName].map((event: ScheduleEntry) => (
							<ScheduleCard event={event} />
						))}
					</section>
				),
		)
	}
</div>
<style>
	.day-group {
		scroll-margin-top: 4.5rem; 
	}
	.day-header {
		background-color: var(--color-blurple);
		padding: 0.5rem 1.5rem;
		margin: 2.5rem 0 1.5rem 0;
		border-radius: 4px;
	}
	.day-header h2 {
		margin: 0;
		font-size: 1.8rem;
		color: var(--color-light);
	}
</style>
