{
	"useTabs": true,
	"singleQuote": false,
	"printWidth": 180,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": { "parser": "astro" }
		}
	]
}
