---
import Layout from "../layouts/Layout.astro";
import ScheduleNav from "./ScheduleNav.astro";
import ScheduleGrid from "./ScheduleGrid.astro";
import { getSchedule, type ScheduleEntry } from "../lib/WebMaster/schedule";

export interface Props {
	groupBy: "platform" | "channel";
	groupedSchedule: Record<string, Array<ScheduleEntry>>;
	dayOrder: Array<string>;
}

const { groupBy, groupedSchedule, dayOrder }: Props = Astro.props;
---
<div class="schedule-container">
	{dayOrder.map((dayName: string) =>
		groupedSchedule[dayName] && (
			<section class="day-group">
				<h3 class="p-name">{dayName}</h3>
				<ScheduleGrid events={groupedSchedule[dayName]} groupBy={groupBy} />
			</section>
		)
	)}
</div>
<script>
	(function (): void {
		function localizeGridTimes(): void {
			const formatter: Intl.DateTimeFormat = new Intl.DateTimeFormat([], {
				hour: "numeric",
				minute: "2-digit"
			});

			document.querySelectorAll(".grid-dt").forEach((time: Element) => {
				const timeEl: HTMLTimeElement = time as HTMLTimeElement;

				if (timeEl.dateTime) {
					const parsedDate: Date = new Date(timeEl.dateTime.replace(" ", "T"));
					timeEl.textContent = formatter.format(parsedDate);
				}
			});
		}

		if (typeof Intl !== "undefined" && typeof Intl.DateTimeFormat !== "undefined")
			localizeGridTimes();
	})();
</script>